<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vodicka_Junior.Properties.Settings.student4ConnectionString"
            connectionString="Data Source=q.benefitcz.cz,34777;Initial Catalog=student4;Persist Security Info=True;User ID=STUDENT4;Password=yiNMMjzCDN46QZ"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>